
/autom4te.cache
*.log
*.status
*.o
*.so
*.dll
*.gen.*
*lib.c
Makefile
test.scm
TODO.txt

/aclocal.m4
/configure
/gauche_cv_corelib.c
/gauche_cv_highguilib.c
/gauche_cv_imgproclib.c
/gauche-cv.gpd
/Makefile
/VERSION
/out/scm
/out/dll
/out/header
/out/LICENSE
/out/README

/lib/cv/imgproc.scm
/lib/cv/core.scm
/lib/cv/highgui.scm
/lib/cv/objdetect.scm
/lib/cv/calib3d.scm
/lib/cv/features2d.scm
